 ## 설문조사 진행한 사람들 특성 파악
 
    최초 작성일 : 2020/03/22
    작성자 : 조예슬 
    
    < 작성 내용 >
    
        설문지(1), (2) 사용하여
    
        - 성별 + 연령 분포 알아보기
        
        - Definition + Need 분포 알아보기
        
        - Fashion Interest + Definition 분포 알아보기
        
        - Fashion Interest + Need 분포 알아보기
        
        - Fashion Interest + purpose 분포 알아보기

### Sex + Age  분포 알아보기

In [1]:
# 데이터 불러오기

SA_cnt <- read.csv("C:/Users/cho ye seul/Documents/예슬/Acorn/FinalProject/Statistical Analysis/SA_cnt.csv")
str(SA_cnt)
head(SA_cnt)

'data.frame':	114 obs. of  4 variables:
 $ X        : int  0 1 2 3 4 5 6 7 8 9 ...
 $ sex      : Factor w/ 2 levels "Female","Male": 2 1 1 1 1 1 1 2 1 1 ...
 $ age_class: int  20 20 20 20 20 20 20 20 20 20 ...
 $ cnt      : int  1 1 1 1 1 1 1 1 1 1 ...

  X sex    age_class cnt
1 0 Male   20        1
2 1 Female 20        1
3 2 Female 20        1
4 3 Female 20        1
5 4 Female 20        1
6 5 Female 20        1

In [10]:
## 데이터프레임 재생성

# teenth
teenth_F <- with(SA_cnt, sum(cnt[sex == "Female" & age_class == "10"]))
teenth_M <- with(SA_cnt, sum(cnt[sex == "Male" & age_class == "10"]))

# twenty
twenty_F <- with(SA_cnt, sum(cnt[sex == "Female" & age_class == "20"]))
twenty_M <- with(SA_cnt, sum(cnt[sex == "Male" & age_class == "20"]))

# thirty
thirty_F <- with(SA_cnt, sum(cnt[sex == "Female" & age_class == "30"]))
thirty_M <- with(SA_cnt, sum(cnt[sex == "Male" & age_class == "30"]))

# forty
forty_F <- with(SA_cnt, sum(cnt[sex == "Female" & age_class == "40"]))
forty_M <- with(SA_cnt, sum(cnt[sex == "Male" & age_class == "40"]))

# fifty
fifty_F <- with(SA_cnt, sum(cnt[sex == "Female" & age_class == "50"]))
fifty_M <- with(SA_cnt, sum(cnt[sex == "Male" & age_class == "50"]))

teenth <- c(teenth_M, teenth_F)
twenty <- c(twenty_M, twenty_F)
thirty <- c(thirty_M, thirty_F)
forty <- c(forty_M, forty_F)
fifty <- c(fifty_M, fifty_F)

df_SA_cnt <- data.frame(teenth, twenty, thirty, forty, fifty)
df_SA_cnt <- t(df_SA_cnt)
colnames(df_SA_cnt) <- c("Male", "Female")

df_SA_cnt

       Male Female
teenth  0    1
twenty 23   76
thirty  3    6
forty   0    3
fifty   0    2

In [16]:
# 데이터 불러오기

SA_cnt2 <- read.csv("C:/Users/cho ye seul/Documents/예슬/Acorn/FinalProject/Statistical Analysis/SA_cnt2.csv")
str(SA_cnt2)
head(SA_cnt2)

'data.frame':	96 obs. of  4 variables:
 $ X        : int  0 1 2 3 4 5 6 7 8 9 ...
 $ sex      : Factor w/ 2 levels "Female","Male": 1 2 1 2 1 1 1 1 1 1 ...
 $ age_class: int  20 20 20 20 20 30 30 20 30 20 ...
 $ cnt      : int  1 1 1 1 1 1 1 1 1 1 ...

  X sex    age_class cnt
1 0 Female 20        1
2 1 Male   20        1
3 2 Female 20        1
4 3 Male   20        1
5 4 Female 20        1
6 5 Female 30        1

In [17]:
## 데이터프레임 재생성

# teenth
teenth_F <- with(SA_cnt2, sum(cnt[sex == "Female" & age_class == "10"]))
teenth_M <- with(SA_cnt2, sum(cnt[sex == "Male" & age_class == "10"]))

# twenty
twenty_F <- with(SA_cnt2, sum(cnt[sex == "Female" & age_class == "20"]))
twenty_M <- with(SA_cnt2, sum(cnt[sex == "Male" & age_class == "20"]))

# thirty
thirty_F <- with(SA_cnt2, sum(cnt[sex == "Female" & age_class == "30"]))
thirty_M <- with(SA_cnt2, sum(cnt[sex == "Male" & age_class == "30"]))

# forty
forty_F <- with(SA_cnt2, sum(cnt[sex == "Female" & age_class == "40"]))
forty_M <- with(SA_cnt2, sum(cnt[sex == "Male" & age_class == "40"]))

# fifty
fifty_F <- with(SA_cnt2, sum(cnt[sex == "Female" & age_class == "50"]))
fifty_M <- with(SA_cnt2, sum(cnt[sex == "Male" & age_class == "50"]))

teenth <- c(teenth_M, teenth_F)
twenty <- c(twenty_M, twenty_F)
thirty <- c(thirty_M, thirty_F)
forty <- c(forty_M, forty_F)
fifty <- c(fifty_M, fifty_F)

df_SA_cnt2 <- data.frame(teenth, twenty, thirty, forty, fifty)
df_SA_cnt2 <- t(df_SA_cnt2)
colnames(df_SA_cnt2) <- c("Male", "Female")

df_SA_cnt2

       Male Female
teenth  1    6
twenty 24   32
thirty  5   16
forty   2    1
fifty   3    6

#### 자료 분석

    설문조사 연령대는 20대가 가장 많음
    조원들의 평균 연령대가 20대 중후반이여서 아무래도 20대 인맥이 많음
    
    성별로 비교해보면 남성보다 여성의 수가 더 많음
    남성보단 여성이 퍼스널 컬러에 더 관심이 많다보니 
    여성들이 흥미를 가지고 참여를 더 많이 했을 것으로 사료됨
    
    개발 과정에 있어서 20대 여성의 데이터를 중점적으로 분석해도 될 것이라 사료됨

### Definition + Need 분포 알아보기

In [11]:
# 데이터 불러오기

DN_cnt <- read.csv("C:/Users/cho ye seul/Documents/예슬/Acorn/FinalProject/Statistical Analysis/DN_cnt.csv")
str(DN_cnt)
head(DN_cnt)

'data.frame':	114 obs. of  4 variables:
 $ X         : int  0 1 2 3 4 5 6 7 8 9 ...
 $ definition: Factor w/ 2 levels "bright","harmony": 2 1 1 2 1 2 2 2 2 1 ...
 $ need      : Factor w/ 2 levels "bright","harmony": 2 2 1 2 1 2 2 2 2 1 ...
 $ cnt       : int  1 1 1 1 1 1 1 1 1 1 ...

  X definition need    cnt
1 0 harmony    harmony 1
2 1 bright     harmony 1
3 2 bright     bright  1
4 3 harmony    harmony 1
5 4 bright     bright  1
6 5 harmony    harmony 1

In [15]:
## 데이터프레임 재생성

# bright + bright
BB <- with(DN_cnt, sum(cnt[definition == "bright" & need == "bright"]))

# bright + harmony
BH <- with(DN_cnt, sum(cnt[definition == "bright" & need == "harmony"]))

# harmony + bright
HB <- with(DN_cnt, sum(cnt[definition == "harmony" & need == "bright"]))

# harmony + harmony
HH <- with(DN_cnt, sum(cnt[definition == "harmony" & need == "harmony"]))

df_DN_cnt <- data.frame(BB, BH, HB, HH)
df_DN_cnt <- t(df_DN_cnt)
colnames(df_DN_cnt) <- c("cnt")
df_DN_cnt

   cnt
BB 22
BH  5
HB 22
HH 65

In [18]:
# 데이터 불러오기

DN_cnt2 <- read.csv("C:/Users/cho ye seul/Documents/예슬/Acorn/FinalProject/Statistical Analysis/DN_cnt2.csv")
str(DN_cnt2)
head(DN_cnt2)

'data.frame':	96 obs. of  4 variables:
 $ X         : int  0 1 2 3 4 5 6 7 8 9 ...
 $ definition: Factor w/ 2 levels "bright","harmony": 1 2 1 1 1 2 2 1 2 2 ...
 $ need      : Factor w/ 2 levels "bright","harmony": 1 2 1 2 1 2 1 1 1 2 ...
 $ cnt       : int  1 1 1 1 1 1 1 1 1 1 ...

  X definition need    cnt
1 0 bright     bright  1
2 1 harmony    harmony 1
3 2 bright     bright  1
4 3 bright     harmony 1
5 4 bright     bright  1
6 5 harmony    harmony 1

In [19]:
## 데이터프레임 재생성

# bright + bright
BB <- with(DN_cnt2, sum(cnt[definition == "bright" & need == "bright"]))

# bright + harmony
BH <- with(DN_cnt2, sum(cnt[definition == "bright" & need == "harmony"]))

# harmony + bright
HB <- with(DN_cnt2, sum(cnt[definition == "harmony" & need == "bright"]))

# harmony + harmony
HH <- with(DN_cnt2, sum(cnt[definition == "harmony" & need == "harmony"]))

df_DN_cnt2 <- data.frame(BB, BH, HB, HH)
df_DN_cnt2 <- t(df_DN_cnt2)
colnames(df_DN_cnt2) <- c("cnt")
df_DN_cnt2

   cnt
BB 19
BH  3
HB 17
HH 57

#### 자료 분석

     definition과 need를 동일하게 선택한 결과가 많음
     
     definition = harmony, need = harmony  선택이 제일 많음 
     -> 논문에서는 퍼스널 컬러의 정의가 "얼굴색을 밝게 해주는 색"이라고 표현하였으나 
        사람들이 일상에서 필요한 퍼스널 컬러는 "얼굴색과 조화를 이루는 색"이라고 생각됨
        
     이후에 진행된 설문 조사 결과(2, 3번 문항)에서 사람들이 자신이 선택한 정의에 맞게 선택을 진행했는지 알아보기
     예를 들면, 설문지 1번의 2번 문항에서 bright를 선택한 사람들의 정답 비율과
     설문지 2번의 2번 문항에서 harmony를 선택한 사람들의 정답 비율을 비교하여
     정답 비율이 더 높은 쪽을 보고 
     사람들이 더 선호하는 쪽(bright or harmony)를 선택하면 될 것이라 생각됨

### Fashion Interest + Definition 분포 알아보기

In [43]:
## 데이터 불러오기

DI_cnt <- read.csv("C:/Users/cho ye seul/Documents/예슬/Acorn/FinalProject/Statistical Analysis/ID_cnt.csv")
# str(DI_cnt)
# head(DI_cnt)


## 데이터 프레임 재생성

B1 <- with(DI_cnt, sum(cnt[definition == "bright" & interest == "1"]))
B2 <- with(DI_cnt, sum(cnt[definition == "bright" & interest == "2"]))
B3 <- with(DI_cnt, sum(cnt[definition == "bright" & interest == "3"]))
B4 <- with(DI_cnt, sum(cnt[definition == "bright" & interest == "4"]))
B5 <- with(DI_cnt, sum(cnt[definition == "bright" & interest == "5"]))

H1 <- with(DI_cnt, sum(cnt[definition == "harmony" & interest == "1"]))
H2 <- with(DI_cnt, sum(cnt[definition == "harmony" & interest == "2"]))
H3 <- with(DI_cnt, sum(cnt[definition == "harmony" & interest == "3"]))
H4 <- with(DI_cnt, sum(cnt[definition == "harmony" & interest == "4"]))
H5 <- with(DI_cnt, sum(cnt[definition == "harmony" & interest == "5"]))

I1 <- c(B1, H1)
I2 <- c(B2, H2)
I3 <- c(B3, H3)
I4 <- c(B4, H4)
I5 <- c(B5, H5)

DI_cnt <- data.frame(I1, I2, I3, I4, I5)
DI_cnt <- t(DI_cnt)
colnames(DI_cnt) <- c("bright", "harmony")

DI_cnt

   bright harmony
I1  1      1
I2  1     13
I3  8     33
I4 11     27
I5  6     13

In [44]:
## 데이터 불러오기

DI_cnt2 <- read.csv("C:/Users/cho ye seul/Documents/예슬/Acorn/FinalProject/Statistical Analysis/ID_cnt2.csv")
# str(DI_cnt2)
# head(DI_cnt2)


## 데이터 프레임 재생성

B1 <- with(DI_cnt2, sum(cnt[definition == "bright" & interest == "1"]))
B2 <- with(DI_cnt2, sum(cnt[definition == "bright" & interest == "2"]))
B3 <- with(DI_cnt2, sum(cnt[definition == "bright" & interest == "3"]))
B4 <- with(DI_cnt2, sum(cnt[definition == "bright" & interest == "4"]))
B5 <- with(DI_cnt2, sum(cnt[definition == "bright" & interest == "5"]))

H1 <- with(DI_cnt2, sum(cnt[definition == "harmony" & interest == "1"]))
H2 <- with(DI_cnt2, sum(cnt[definition == "harmony" & interest == "2"]))
H3 <- with(DI_cnt2, sum(cnt[definition == "harmony" & interest == "3"]))
H4 <- with(DI_cnt2, sum(cnt[definition == "harmony" & interest == "4"]))
H5 <- with(DI_cnt2, sum(cnt[definition == "harmony" & interest == "5"]))

I1 <- c(B1, H1)
I2 <- c(B2, H2)
I3 <- c(B3, H3)
I4 <- c(B4, H4)
I5 <- c(B5, H5)

DI_cnt2 <- data.frame(I1, I2, I3, I4, I5)
DI_cnt2 <- t(DI_cnt2)
colnames(DI_cnt2) <- c("bright", "harmony")

DI_cnt2

   bright harmony
I1 0       9
I2 2       9
I3 9      26
I4 7      18
I5 4      12

#### 자료 분석

    Fashion Interest + Definition 

설문지|interest|bright|harmony|총합계|bright%|harmony%
:---|:---|:---:|:---:|:---:|:---:|:---
밝은|1|1|1|2|50.0|50.0
밝은|2|1|13|14|7.1|92.9
밝은|3|8|33|41|19.5|80.5
밝은|4|11|27|38|28.9|71.1
밝은|5|6|13|19|31.6|68.4
-|
조화|1|0|9|9|0.0|100.0
조화|2|2|9|11|18.2|81.8
조화|3|9|26|35|25.7|74.3
조화|4|7|18|25|28.0|72.0
조화|5|4|12|16|25.0|75.0

    패션 관심도 3, 4를 선택한 분포가 가장 많다(전체 인원의 60~70% 차지)
    
    퍼스널컬러에 대한 정의 bright보다 harmony를 선택한 사람이 더 많다 
    
    Fashion Interest 와 Definition 간의 관계가 딱히 있을까...?라는 생각이 든다

### Fashion Interest + Need 분포 알아보기

In [50]:
## 데이터 불러오기

NI_cnt <- read.csv("C:/Users/cho ye seul/Documents/예슬/Acorn/FinalProject/Statistical Analysis/NI_cnt.csv")
# str(NI_cnt)
# head(NI_cnt)


## 데이터 프레임 재생성

B1 <- with(NI_cnt, sum(cnt[need == "bright" & interest == "1"]))
B2 <- with(NI_cnt, sum(cnt[need == "bright" & interest == "2"]))
B3 <- with(NI_cnt, sum(cnt[need == "bright" & interest == "3"]))
B4 <- with(NI_cnt, sum(cnt[need == "bright" & interest == "4"]))
B5 <- with(NI_cnt, sum(cnt[need == "bright" & interest == "5"]))

H1 <- with(NI_cnt, sum(cnt[need == "harmony" & interest == "1"]))
H2 <- with(NI_cnt, sum(cnt[need == "harmony" & interest == "2"]))
H3 <- with(NI_cnt, sum(cnt[need == "harmony" & interest == "3"]))
H4 <- with(NI_cnt, sum(cnt[need == "harmony" & interest == "4"]))
H5 <- with(NI_cnt, sum(cnt[need == "harmony" & interest == "5"]))

I1 <- c(B1, H1)
I2 <- c(B2, H2)
I3 <- c(B3, H3)
I4 <- c(B4, H4)
I5 <- c(B5, H5)

NI_cnt <- data.frame(I1, I2, I3, I4, I5)
NI_cnt <- t(NI_cnt)
colnames(NI_cnt) <- c("bright", "harmony")

NI_cnt

   bright harmony
I1  1      1
I2  3     11
I3 19     22
I4 15     23
I5  6     13

In [51]:
## 데이터 불러오기

NI_cnt2 <- read.csv("C:/Users/cho ye seul/Documents/예슬/Acorn/FinalProject/Statistical Analysis/NI_cnt2.csv")
# str(NI_cnt2)
# head(NI_cnt2)


## 데이터 프레임 재생성

B1 <- with(NI_cnt2, sum(cnt[need == "bright" & interest == "1"]))
B2 <- with(NI_cnt2, sum(cnt[need == "bright" & interest == "2"]))
B3 <- with(NI_cnt2, sum(cnt[need == "bright" & interest == "3"]))
B4 <- with(NI_cnt2, sum(cnt[need == "bright" & interest == "4"]))
B5 <- with(NI_cnt2, sum(cnt[need == "bright" & interest == "5"]))

H1 <- with(NI_cnt2, sum(cnt[need == "harmony" & interest == "1"]))
H2 <- with(NI_cnt2, sum(cnt[need == "harmony" & interest == "2"]))
H3 <- with(NI_cnt2, sum(cnt[need == "harmony" & interest == "3"]))
H4 <- with(NI_cnt2, sum(cnt[need == "harmony" & interest == "4"]))
H5 <- with(NI_cnt2, sum(cnt[need == "harmony" & interest == "5"]))

I1 <- c(B1, H1)
I2 <- c(B2, H2)
I3 <- c(B3, H3)
I4 <- c(B4, H4)
I5 <- c(B5, H5)

NI_cnt2 <- data.frame(I1, I2, I3, I4, I5)
NI_cnt2 <- t(NI_cnt2)
colnames(NI_cnt2) <- c("bright", "harmony")

NI_cnt2

   bright harmony
I1  1      8
I2  6      5
I3 12     23
I4 10     15
I5  7      9

#### 자료 분석

    Need + Fashion Interest
    
설문지|interest|bright|harmony|총합계|bright%|harmony%
:---|:---|:---:|:---:|:---:|:---:|:---
밝은|1|1|1|2|50.0|50.0
밝은|2|3|11|14|21.4|78.6
밝은|3|19|22|41|46.3|53.7
밝은|4|15|23|38|39.5|60.5
밝은|5|6|13|19|31.6|68.4
-|
조화|1|1|8|9|11.1|88.9
조화|2|6|5|11|54.5|45.5
조화|3|12|23|35|34.3|65.7
조화|4|10|15|25|40.0|60.0
조화|5|7|9|16|43.8|56.3

    패션 관심도 3, 4를 선택한 사람이 제일 많다
    
    Need의 경우에도 bright 보다 harmony를 선택한 %가 더 높다
    
    Need도 나중에 설문지의 다른 문항과 함께 보았을때 그 영향을 알 수 있을 것 같다

### Fashion Interest + purpose 분포 알아보기

In [70]:
## 데이터 불러오기

PI_cnt <- read.csv("C:/Users/cho ye seul/Documents/예슬/Acorn/FinalProject/Statistical Analysis/PI_cnt.csv")
# str(PI_cnt)
# head(PI_cnt)


## 데이터 프레임 재생성

clo1 <- with(PI_cnt, sum(cnt[(purpose == "clothes" | purpose == "clothes&cosmetic") & interest == "1"]))
clo2 <- with(PI_cnt, sum(cnt[(purpose == "clothes" | purpose == "clothes&cosmetic") &interest == "2"]))
clo3 <- with(PI_cnt, sum(cnt[(purpose == "clothes" | purpose == "clothes&cosmetic") &interest == "3"]))
clo4 <- with(PI_cnt, sum(cnt[(purpose == "clothes" | purpose == "clothes&cosmetic") &interest == "4"]))
clo5 <- with(PI_cnt, sum(cnt[(purpose == "clothes" | purpose == "clothes&cosmetic") &interest == "5"]))

cos1 <- with(PI_cnt, sum(cnt[(purpose == "cosmetic" | purpose == "clothes&cosmetic") &interest == "1"]))
cos2 <- with(PI_cnt, sum(cnt[(purpose == "cosmetic" | purpose == "clothes&cosmetic") &interest == "2"]))
cos3 <- with(PI_cnt, sum(cnt[(purpose == "cosmetic" | purpose == "clothes&cosmetic") &interest == "3"]))
cos4 <- with(PI_cnt, sum(cnt[(purpose == "cosmetic" | purpose == "clothes&cosmetic") &interest == "4"]))
cos5 <- with(PI_cnt, sum(cnt[(purpose == "cosmetic" | purpose == "clothes&cosmetic") &interest == "5"]))

etc1 <- with(PI_cnt, sum(cnt[purpose == "etc" & interest == "1"]))
etc2 <- with(PI_cnt, sum(cnt[purpose == "etc" & interest == "2"]))
etc3 <- with(PI_cnt, sum(cnt[purpose == "etc" & interest == "3"]))
etc4 <- with(PI_cnt, sum(cnt[purpose == "etc" & interest == "4"]))
etc5 <- with(PI_cnt, sum(cnt[purpose == "etc" & interest == "5"]))

clo <- c(clo1, clo2, clo3, clo4, clo5)
cos <- c(cos1, cos2, cos3, cos4, cos5)
etc <- c(etc1, etc2, etc3, etc4, etc5)

PI_cnt <- data.frame(clo, cos, etc)
rownames(PI_cnt) <- c("I1", "I2", "I3", "I4", "I5")

PI_cnt

   clo cos etc
I1  1   2  0
I2 12   6  0
I3 32  19  1
I4 27  25  1
I5 17  10  0

In [72]:
## 데이터 불러오기

PI_cnt2 <- read.csv("C:/Users/cho ye seul/Documents/예슬/Acorn/FinalProject/Statistical Analysis/PI_cnt2.csv")
# str(PI_cnt2)
# head(PI_cnt2)


## 데이터 프레임 재생성

clo1 <- with(PI_cnt2, sum(cnt[(purpose == "clothes" | purpose == "clothes&cosmetic") & interest == "1"]))
clo2 <- with(PI_cnt2, sum(cnt[(purpose == "clothes" | purpose == "clothes&cosmetic") & interest == "2"]))
clo3 <- with(PI_cnt2, sum(cnt[(purpose == "clothes" | purpose == "clothes&cosmetic") & interest == "3"]))
clo4 <- with(PI_cnt2, sum(cnt[(purpose == "clothes" | purpose == "clothes&cosmetic") & interest == "4"]))
clo5 <- with(PI_cnt2, sum(cnt[(purpose == "clothes" | purpose == "clothes&cosmetic") & interest == "5"]))

cos1 <- with(PI_cnt2, sum(cnt[(purpose == "cosmetic" | purpose == "clothes&cosmetic")  & interest == "1"]))
cos2 <- with(PI_cnt2, sum(cnt[(purpose == "cosmetic" | purpose == "clothes&cosmetic")  & interest == "2"]))
cos3 <- with(PI_cnt2, sum(cnt[(purpose == "cosmetic" | purpose == "clothes&cosmetic")  & interest == "3"]))
cos4 <- with(PI_cnt2, sum(cnt[(purpose == "cosmetic" | purpose == "clothes&cosmetic")  & interest == "4"]))
cos5 <- with(PI_cnt2, sum(cnt[(purpose == "cosmetic" | purpose == "clothes&cosmetic")  & interest == "5"]))

etc1 <- with(PI_cnt2, sum(cnt[purpose == "etc" & interest == "1"]))
etc2 <- with(PI_cnt2, sum(cnt[purpose == "etc" & interest == "2"]))
etc3 <- with(PI_cnt2, sum(cnt[purpose == "etc" & interest == "3"]))
etc4 <- with(PI_cnt2, sum(cnt[purpose == "etc" & interest == "4"]))
etc5 <- with(PI_cnt2, sum(cnt[purpose == "etc" & interest == "5"]))

clo <- c(clo1, clo2, clo3, clo4, clo5)
cos <- c(cos1, cos2, cos3, cos4, cos5)
etc <- c(etc1, etc2, etc3, etc4, etc5)

PI_cnt2 <- data.frame(clo, cos, etc)
rownames(PI_cnt2) <- c("I1", "I2", "I3", "I4", "I5")

PI_cnt2

   clo cos etc
I1  7   2  1
I2  8   3  1
I3 25  14  1
I4 19  12  2
I5 13  10  0

In [73]:
PI_cnt
PI_cnt2

   clo cos etc
I1  1   2  0
I2 12   6  0
I3 32  19  1
I4 27  25  1
I5 17  10  0

   clo cos etc
I1  7   2  1
I2  8   3  1
I3 25  14  1
I4 19  12  2
I5 13  10  0

#### 자료 분석

    사람들의 퍼스널컬러의 활용목적은 대부분 옷에 관련 될 것으로 사료됨
    
    하지만 패션에 대한 관심도가 높을수록 
    퍼스널컬러의 활용 목적은 옷에만 두는 것이 아닌 옷, 화장 등 여러분야에 사용하고 싶은 경향이 있는 것으로 보인다
    패션에 관심이 있을수록 색에 대한 관심도가 높고 
    그만큼 자신을 꾸미길 좋아하기에 나오는 결론이라 생각됨
    
    설문지의 다른 문항과 비교시에 패션에 관심도가 높은 사람들(interest 4-5)의 사람들의 의견만 모아서 봐도 괜찮을듯!