### 설문조사 자료 전처리
    
    최초 작성일 : 20/03/22
    작성자 : 조예슬
    
    <작성내용>
        
        CAI_elementaryItem_analysis 파일에 필요한 데이터들 전처리 진행한 파일
        
        - 성별 + 연령 + cnt 전처리
        
        - Definition + Need + cnt 전처리
        
        - Fashion Interest + Definition + cnt 전처리
        
        - Fashion Interest + Need + cnt 전처리
        
        - Fashion Interest + Purpose + cnt 전처리
        
        
    < 출처 >
    은주언니 햣!!▼
    https://github.com/slmteruto/CAI/blob/master/jay/Statistical%20hypothesis%20testing/Survey_preprocessing.ipynb

In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.font_manager as fm
font_name = fm.FontProperties(fname='C:\Windows/Fonts/malgun.ttf').get_name()
plt.rc('font', family=font_name)
mpl.rcParams["axes.unicode_minus"] = False

import pymysql, math, time
from sklearn import preprocessing
import urllib

from IPython.display import Image

### Sex + Age + cnt

In [5]:
# 기본항목 설문결과 (모집단 분리하지 않은 항목) 데이터 준비

## 밝은색 설문 결과 불러오기
elementaryItem = pd.read_excel("C:/Users/cho ye seul/Documents/예슬/Acorn/FinalProject/Statistical Analysis/퍼스널컬러 정량화 모델 가설검정을 위한 설문 (1).xlsx",
                          sheet_name = 'Sheet1', header=0,na_values = 'NaN',
                          usecols="C, D")
elementaryItem.rename(columns={elementaryItem.columns[0]:"sex",
                          elementaryItem.columns[1]:"age_class"}, inplace=True)

            
## 값 변경 반복문
for i in range(int(elementaryItem.shape[0])):

    ## sex : Male, Female 리스트 담기
    if elementaryItem["sex"][i] == "남성":
        elementaryItem["sex"][i] = "Male"
    else:
        elementaryItem["sex"][i] = "Female"
        
    ## age_class : 10, 20, 30, 40, 50으로 리스트 담기
    if elementaryItem["age_class"][i] == "10대":
        elementaryItem["age_class"][i] = "10"
    elif elementaryItem["age_class"][i] == "20대":
        elementaryItem["age_class"][i] = "20"
    elif elementaryItem["age_class"][i] == "30대":
        elementaryItem["age_class"][i] = "30"
    elif elementaryItem["age_class"][i] == "40대":
        elementaryItem["age_class"][i] = "40"
    else:
        elementaryItem["age_class"][i] = "50"
              
# 개수 넣기
elementaryItem["cnt"] = 1

SA_cnt = elementaryItem
SA_cnt

        sex age_class  cnt
0      Male        20    1
1    Female        20    1
2    Female        20    1
3    Female        20    1
4    Female        20    1
..      ...       ...  ...
109    Male        20    1
110  Female        20    1
111  Female        20    1
112  Female        30    1
113    Male        30    1

[114 rows x 3 columns]

In [6]:
# SA_cnt 전처리 결과 저장
SA_cnt.to_csv("C:/Users/cho ye seul/Documents/예슬/Acorn/FinalProject/Statistical Analysis/SA_cnt.csv")

In [12]:
# 기본항목 설문결과 (모집단 분리하지 않은 항목) 데이터 준비

## 조화색 설문 결과 불러오기
elementaryItem = pd.read_excel("C:/Users/cho ye seul/Documents/예슬/Acorn/FinalProject/Statistical Analysis/퍼스널컬러 정량화 모델 가설검정을 위한 설문 (2).xlsx",
                          sheet_name = 'Sheet1', header=0,na_values = 'NaN',
                          usecols="C, D")
elementaryItem.rename(columns={elementaryItem.columns[0]:"sex",
                          elementaryItem.columns[1]:"age_class"}, inplace=True)

            
## 값 변경 반복문
for i in range(int(elementaryItem.shape[0])):

    ## sex : Male, Female 리스트 담기
    if elementaryItem["sex"][i] == "남성":
        elementaryItem["sex"][i] = "Male"
    else:
        elementaryItem["sex"][i] = "Female"
        
    ## age_class : 10, 20, 30, 40, 50으로 리스트 담기
    if elementaryItem["age_class"][i] == "10대":
        elementaryItem["age_class"][i] = "10"
    elif elementaryItem["age_class"][i] == "20대":
        elementaryItem["age_class"][i] = "20"
    elif elementaryItem["age_class"][i] == "30대":
        elementaryItem["age_class"][i] = "30"
    elif elementaryItem["age_class"][i] == "40대":
        elementaryItem["age_class"][i] = "40"
    else:
        elementaryItem["age_class"][i] = "50"
              
# 개수 넣기
elementaryItem["cnt"] = 1

SA_cnt2 = elementaryItem
SA_cnt2

       sex age_class  cnt
0   Female        20    1
1     Male        20    1
2   Female        20    1
3     Male        20    1
4   Female        20    1
..     ...       ...  ...
91  Female        50    1
92  Female        50    1
93  Female        50    1
94  Female        50    1
95  Female        20    1

[96 rows x 3 columns]

In [13]:
# SA_cnt2 전처리 결과 저장
SA_cnt2.to_csv("C:/Users/cho ye seul/Documents/예슬/Acorn/FinalProject/Statistical Analysis/SA_cnt2.csv")

### Definition + Need + cnt

In [10]:
# 기본항목 설문결과 (모집단 분리하지 않은 항목) 데이터 준비

## 밝은색 설문 결과 불러오기
elementaryItem = pd.read_excel("C:/Users/cho ye seul/Documents/예슬/Acorn/FinalProject/Statistical Analysis/퍼스널컬러 정량화 모델 가설검정을 위한 설문 (1).xlsx",
                          sheet_name = 'Sheet1', header=0,na_values = 'NaN',
                          usecols="E, F")
elementaryItem.rename(columns={elementaryItem.columns[0]:"definition",
                          elementaryItem.columns[1]:"need"}, inplace=True)

            
## 값 변경 반복문
for i in range(int(elementaryItem.shape[0])):
    
    ## definition : bright, harmony로 리스트 담기
    if ("생기" in elementaryItem["definition"][i]):
        elementaryItem["definition"][i] = "bright"
    else:
        elementaryItem["definition"][i] = "harmony"
    
    ## need :  bright, harmony로 리스트 담기
    if ("생기" in elementaryItem["need"][i]):
        elementaryItem["need"][i] = "bright"
    else:
        elementaryItem["need"][i] = "harmony"

# 개수 넣기
elementaryItem["cnt"] = 1

DN_cnt = elementaryItem
DN_cnt

    definition     need  cnt
0      harmony  harmony    1
1       bright  harmony    1
2       bright   bright    1
3      harmony  harmony    1
4       bright   bright    1
..         ...      ...  ...
109    harmony  harmony    1
110    harmony  harmony    1
111    harmony  harmony    1
112    harmony  harmony    1
113    harmony   bright    1

[114 rows x 3 columns]

In [11]:
# DN_cnt 전처리 결과 저장
DN_cnt.to_csv("C:/Users/cho ye seul/Documents/예슬/Acorn/FinalProject/Statistical Analysis/DN_cnt.csv")

In [14]:
# 기본항목 설문결과 (모집단 분리하지 않은 항목) 데이터 준비

## 조화색 설문 결과 불러오기
elementaryItem = pd.read_excel("C:/Users/cho ye seul/Documents/예슬/Acorn/FinalProject/Statistical Analysis/퍼스널컬러 정량화 모델 가설검정을 위한 설문 (2).xlsx",
                          sheet_name = 'Sheet1', header=0,na_values = 'NaN',
                          usecols="E, F")
elementaryItem.rename(columns={elementaryItem.columns[0]:"definition",
                          elementaryItem.columns[1]:"need"}, inplace=True)

            
## 값 변경 반복문
for i in range(int(elementaryItem.shape[0])):
    
    ## definition : bright, harmony로 리스트 담기
    if ("생기" in elementaryItem["definition"][i]):
        elementaryItem["definition"][i] = "bright"
    else:
        elementaryItem["definition"][i] = "harmony"
    
    ## need :  bright, harmony로 리스트 담기
    if ("생기" in elementaryItem["need"][i]):
        elementaryItem["need"][i] = "bright"
    else:
        elementaryItem["need"][i] = "harmony"

# 개수 넣기
elementaryItem["cnt"] = 1

DN_cnt2 = elementaryItem
DN_cnt2

   definition     need  cnt
0      bright   bright    1
1     harmony  harmony    1
2      bright   bright    1
3      bright  harmony    1
4      bright   bright    1
..        ...      ...  ...
91     bright   bright    1
92    harmony  harmony    1
93     bright   bright    1
94    harmony  harmony    1
95     bright  harmony    1

[96 rows x 3 columns]

In [15]:
# DN_cnt2 전처리 결과 저장
DN_cnt2.to_csv("C:/Users/cho ye seul/Documents/예슬/Acorn/FinalProject/Statistical Analysis/DN_cnt2.csv")

### Fashion Interest + Definition + cnt

In [21]:
## 밝은색 설문 결과 불러오기
elementaryItem = pd.read_excel("C:/Users/cho ye seul/Documents/예슬/Acorn/FinalProject/Statistical Analysis/퍼스널컬러 정량화 모델 가설검정을 위한 설문 (1).xlsx",
                          sheet_name = 'Sheet1', header=0,na_values = 'NaN',
                          usecols="E, H")

elementaryItem.rename(columns={elementaryItem.columns[0]:"definition",
                               elementaryItem.columns[1]:"interest"}, inplace=True)


## 값 변경 반복문
for i in range(int(elementaryItem.shape[0])):
    
    ## definition : bright, harmony로 리스트 담기
    if ("생기" in elementaryItem["definition"][i]):
        elementaryItem["definition"][i] = "bright"
    else:a
        elementaryItem["definition"][i] = "harmony"

        
# 개수 넣기
elementaryItem["cnt"] = 1


ID_cnt = elementaryItem
ID_cnt

C:\ana\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\ana\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

    definition  interest  cnt
0      harmony         5    1
1       bright         5    1
2       bright         3    1
3      harmony         3    1
4       bright         4    1
..         ...       ...  ...
109    harmony         2    1
110    harmony         4    1
111    harmony         4    1
112    harmony         4    1
113    harmony         2    1

[114 rows x 3 columns]

In [22]:
# ID_cnt전처리 결과 저장
ID_cnt.to_csv("C:/Users/cho ye seul/Documents/예슬/Acorn/FinalProject/Statistical Analysis/ID_cnt.csv")

In [27]:
## 조화색 설문 결과 불러오기
elementaryItem = pd.read_excel("C:/Users/cho ye seul/Documents/예슬/Acorn/FinalProject/Statistical Analysis/퍼스널컬러 정량화 모델 가설검정을 위한 설문 (2).xlsx",
                          sheet_name = 'Sheet1', header=0,na_values = 'NaN',
                          usecols="E, H")

elementaryItem.rename(columns={elementaryItem.columns[0]:"definition",
                               elementaryItem.columns[1]:"interest"}, inplace=True)


## 값 변경 반복문
for i in range(int(elementaryItem.shape[0])):
    
    ## definition : bright, harmony로 리스트 담기
    if ("생기" in elementaryItem["definition"][i]):
        elementaryItem["definition"][i] = "bright"
    else:
        elementaryItem["definition"][i] = "harmony"

        
# 개수 넣기
elementaryItem["cnt"] = 1


ID_cnt2 = elementaryItem
ID_cnt2

C:\ana\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
C:\ana\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

   definition  interest  cnt
0      bright         3    1
1     harmony         5    1
2      bright         5    1
3      bright         3    1
4      bright         3    1
..        ...       ...  ...
91     bright         3    1
92    harmony         5    1
93     bright         3    1
94    harmony         4    1
95     bright         4    1

[96 rows x 3 columns]

In [28]:
# ID_cnt2전처리 결과 저장
ID_cnt2.to_csv("C:/Users/cho ye seul/Documents/예슬/Acorn/FinalProject/Statistical Analysis/ID_cnt2.csv")

### Fashion Interest + Need + cnt

In [31]:
## 밝은색 설문 결과 불러오기
elementaryItem = pd.read_excel("C:/Users/cho ye seul/Documents/예슬/Acorn/FinalProject/Statistical Analysis/퍼스널컬러 정량화 모델 가설검정을 위한 설문 (1).xlsx",
                          sheet_name = 'Sheet1', header=0,na_values = 'NaN',
                          usecols="F, H")

elementaryItem.rename(columns={elementaryItem.columns[0]:"need",
                               elementaryItem.columns[1]:"interest"}, inplace=True)


## 값 변경 반복문
for i in range(int(elementaryItem.shape[0])):

    ## need :  bright, harmony로 리스트 담기
    if ("생기" in elementaryItem["need"][i]):
        elementaryItem["need"][i] = "bright"
    else:
        elementaryItem["need"][i] = "harmony"
        
# 개수 넣기
elementaryItem["cnt"] = 1

NI_cnt = elementaryItem
NI_cnt

C:\ana\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\ana\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

        need  interest  cnt
0    harmony         5    1
1    harmony         5    1
2     bright         3    1
3    harmony         3    1
4     bright         4    1
..       ...       ...  ...
109  harmony         2    1
110  harmony         4    1
111  harmony         4    1
112  harmony         4    1
113   bright         2    1

[114 rows x 3 columns]

In [32]:
# NI_cnt 전처리 결과 저장
NI_cnt.to_csv("C:/Users/cho ye seul/Documents/예슬/Acorn/FinalProject/Statistical Analysis/NI_cnt.csv")

In [33]:
## 조화색 설문 결과 불러오기
elementaryItem = pd.read_excel("C:/Users/cho ye seul/Documents/예슬/Acorn/FinalProject/Statistical Analysis/퍼스널컬러 정량화 모델 가설검정을 위한 설문 (2).xlsx",
                          sheet_name = 'Sheet1', header=0,na_values = 'NaN',
                          usecols="F, H")

elementaryItem.rename(columns={elementaryItem.columns[0]:"need",
                               elementaryItem.columns[1]:"interest"}, inplace=True)


## 값 변경 반복문
for i in range(int(elementaryItem.shape[0])):

    ## need :  bright, harmony로 리스트 담기
    if ("생기" in elementaryItem["need"][i]):
        elementaryItem["need"][i] = "bright"
    else:
        elementaryItem["need"][i] = "harmony"
        
# 개수 넣기
elementaryItem["cnt"] = 1

NI_cnt2 = elementaryItem
NI_cnt2

C:\ana\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
C:\ana\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

       need  interest  cnt
0    bright         3    1
1   harmony         5    1
2    bright         5    1
3   harmony         3    1
4    bright         3    1
..      ...       ...  ...
91   bright         3    1
92  harmony         5    1
93   bright         3    1
94  harmony         4    1
95  harmony         4    1

[96 rows x 3 columns]

In [34]:
# NI_cnt2 전처리 결과 저장
NI_cnt2.to_csv("C:/Users/cho ye seul/Documents/예슬/Acorn/FinalProject/Statistical Analysis/NI_cnt2.csv")

### Fashion Interest + Purpose + cnt

In [38]:
## 밝은색 설문 결과 불러오기
elementaryItem = pd.read_excel("C:/Users/cho ye seul/Documents/예슬/Acorn/FinalProject/Statistical Analysis/퍼스널컬러 정량화 모델 가설검정을 위한 설문 (1).xlsx",
                          sheet_name = 'Sheet1', header=0,na_values = 'NaN',
                          usecols="G, H")

elementaryItem.rename(columns={elementaryItem.columns[0]:"purpose",
                               elementaryItem.columns[1]:"interest"}, inplace=True)


## 값 변경 반복문
for i in range(int(elementaryItem.shape[0])):
    ## purpose : clothes&cosmetic(0), clothes(1), cosmetic(2), etc(3)로 리스트 담기
    if ("옷" in elementaryItem["purpose"][i]) & ("화장" in elementaryItem["purpose"][i]):
        elementaryItem["purpose"][i] = "clothes&cosmetic"
    elif ("옷" in elementaryItem["purpose"][i]):
        elementaryItem["purpose"][i] = "clothes"
    elif ("화장" in elementaryItem["purpose"][i]):
        elementaryItem["purpose"][i] = "cosmetic"
    else:
        elementaryItem["purpose"][i] = "etc"

        
# 개수 넣기
elementaryItem["cnt"] = 1

PI_cnt = elementaryItem
PI_cnt

C:\ana\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
C:\ana\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\ana\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ana\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

              purpose  interest  cnt
0             clothes         5    1
1             clothes         5    1
2             clothes         3    1
3             clothes         3    1
4                 etc         4    1
..                ...       ...  ...
109           clothes         2    1
110  clothes&cosmetic         4    1
111  clothes&cosmetic         4    1
112          cosmetic         4    1
113          cosmetic         2    1

[114 rows x 3 columns]

In [39]:
# PI_cnt 전처리 결과 저장
PI_cnt.to_csv("C:/Users/cho ye seul/Documents/예슬/Acorn/FinalProject/Statistical Analysis/PI_cnt.csv")

In [40]:
## 조화색 설문 결과 불러오기
elementaryItem = pd.read_excel("C:/Users/cho ye seul/Documents/예슬/Acorn/FinalProject/Statistical Analysis/퍼스널컬러 정량화 모델 가설검정을 위한 설문 (2).xlsx",
                          sheet_name = 'Sheet1', header=0,na_values = 'NaN',
                          usecols="G, H")

elementaryItem.rename(columns={elementaryItem.columns[0]:"purpose",
                               elementaryItem.columns[1]:"interest"}, inplace=True)


## 값 변경 반복문
for i in range(int(elementaryItem.shape[0])):
    ## purpose : clothes&cosmetic(0), clothes(1), cosmetic(2), etc(3)로 리스트 담기
    if ("옷" in elementaryItem["purpose"][i]) & ("화장" in elementaryItem["purpose"][i]):
        elementaryItem["purpose"][i] = "clothes&cosmetic"
    elif ("옷" in elementaryItem["purpose"][i]):
        elementaryItem["purpose"][i] = "clothes"
    elif ("화장" in elementaryItem["purpose"][i]):
        elementaryItem["purpose"][i] = "cosmetic"
    else:
        elementaryItem["purpose"][i] = "etc"

        
# 개수 넣기
elementaryItem["cnt"] = 1

PI_cnt2 = elementaryItem
PI_cnt2

C:\ana\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
C:\ana\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\ana\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ana\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

             purpose  interest  cnt
0            clothes         3    1
1            clothes         5    1
2            clothes         5    1
3            clothes         3    1
4           cosmetic         3    1
..               ...       ...  ...
91          cosmetic         3    1
92          cosmetic         5    1
93           clothes         3    1
94           clothes         4    1
95  clothes&cosmetic         4    1

[96 rows x 3 columns]

In [41]:
# PI_cnt2 전처리 결과 저장
PI_cnt2.to_csv("C:/Users/cho ye seul/Documents/예슬/Acorn/FinalProject/Statistical Analysis/PI_cnt2.csv")