### 설문조사 자료 전처리
    
    최초 작성일 : 20/03/22
    작성자 : 조예슬
    
    <작성내용>
    
        설문지 1 문항 3번 사용
        
        - changedHue + class + cnt 전처리
        
        - sex + hueChanged_bright_class + cnt 전처리
        
        - age + hueChanged_bright_class + cnt 전처리
        
        - interest + hueFixed_bright_class + cnt 전처리
        
        - Definition + Need + hueChanged_Bright_class + cnt 전처리
        
        
    < 출처 >
    은주언니 햣!!▼
    https://github.com/slmteruto/CAI/blob/master/jay/Statistical%20hypothesis%20testing/Survey_preprocessing.ipynb

In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.font_manager as fm
font_name = fm.FontProperties(fname='C:\Windows/Fonts/malgun.ttf').get_name()
plt.rc('font', family=font_name)
mpl.rcParams["axes.unicode_minus"] = False

import pymysql, math, time
from sklearn import preprocessing
import urllib

from IPython.display import Image

###  changedHue + class + cnt

In [13]:
## 밝은색 설문 결과 불러오기
changedhue_bright = pd.read_excel("C:/Users/cho ye seul/Documents/예슬/Acorn/FinalProject/Statistical Analysis/퍼스널컬러 정량화 모델 가설검정을 위한 설문 (1).xlsx",
                          sheet_name = 'Sheet1', header=0,na_values = 'NaN',
                          usecols="S, T, U, V, W, X")

changedhue_bright.rename(columns={changedhue_bright.columns[0]:"comp",
                                changedhue_bright.columns[1]:"triangle1",
                                changedhue_bright.columns[2]:"triangle2",
                                changedhue_bright.columns[3]:"doubleness1",
                                changedhue_bright.columns[4]:"doubleness2",
                                changedhue_bright.columns[5]:"doubleness3"}, inplace=True)


columns = ["comp", "triangle1", "triangle2", "doubleness1", "doubleness2", "doubleness3"]
## 선택항목 별 부위 매칭 (①-색+72º, ②-색+144º, ③-original, ④-색+216º, ⑤-색+288º)
for i in range(int(changedhue_bright.shape[0])):
    for col in columns:
        if changedhue_bright[col][i] == "①":
            changedhue_bright[col][i] = "72"
        elif changedhue_bright[col][i] == "②":
            changedhue_bright[col][i] = "144"
        elif changedhue_bright[col][i] == "③":
            changedhue_bright[col][i] = "original"
        elif changedhue_bright[col][i] == "④":
            changedhue_bright[col][i] = "216"
        else:
            changedhue_bright[col][i] = "288"
  
##

## 하나씩 원하는 df형태로 만들기
# comp
c_hChanged = pd.DataFrame(changedhue_bright["comp"])
c_hChanged["class"] = "comp"
c_hChanged.rename(columns={"comp":"select"}, inplace=True)

# triangle1
t1_hChanged = pd.DataFrame(changedhue_bright["triangle1"])
t1_hChanged["class"] = "triangle1"
t1_hChanged.rename(columns={"triangle1":"select"}, inplace=True)

# triangle2
t2_hChanged = pd.DataFrame(changedhue_bright["triangle2"])
t2_hChanged["class"] = "triangle2"
t2_hChanged.rename(columns={"triangle2":"select"}, inplace=True)

# doubleness1
d1_hChanged = pd.DataFrame(changedhue_bright["doubleness1"])
d1_hChanged["class"] = "doubleness1"
d1_hChanged.rename(columns={"doubleness1":"select"}, inplace=True)

# doubleness2
d2_hChanged = pd.DataFrame(changedhue_bright["doubleness2"])
d2_hChanged["class"] = "doubleness2"
d2_hChanged.rename(columns={"doubleness2":"select"}, inplace=True)

# doubleness3
d3_hChanged = pd.DataFrame(changedhue_bright["doubleness3"])
d3_hChanged["class"] = "doubleness3"
d3_hChanged.rename(columns={"doubleness3":"select"}, inplace=True)

## 다 합치기
hChanged_bright = pd.concat([c_hChanged, t1_hChanged, t2_hChanged, d1_hChanged, d2_hChanged, d3_hChanged])

# 개수 넣기
hChanged_bright["cnt"] = 1

hChanged_bright

       select        class  cnt
0         216         comp    1
1          72         comp    1
2         144         comp    1
3         288         comp    1
4         216         comp    1
..        ...          ...  ...
109  original  doubleness3    1
110       216  doubleness3    1
111       288  doubleness3    1
112  original  doubleness3    1
113  original  doubleness3    1

[684 rows x 3 columns]

In [14]:
# hChanged_bright 전처리 결과 저장
hChanged_bright.to_csv("C:/Users/cho ye seul/Documents/예슬/Acorn/FinalProject/Statistical Analysis/hChanged_bright.csv")

### sex + hueChanged_bright_class + cnt

In [21]:
## 밝은색 설문 결과 불러오기
elementaryItem = pd.read_excel("C:/Users/cho ye seul/Documents/예슬/Acorn/FinalProject/Statistical Analysis/퍼스널컬러 정량화 모델 가설검정을 위한 설문 (1).xlsx",
                          sheet_name = 'Sheet1', header=0,na_values = 'NaN',
                          usecols="C, S, T, U, V, W, X")

elementaryItem.rename(columns={elementaryItem.columns[0]:"sex",
                                elementaryItem.columns[1]:"comp",
                                elementaryItem.columns[2]:"triangle1",
                                elementaryItem.columns[3]:"triangle2",
                                elementaryItem.columns[4]:"doubleness1",
                                elementaryItem.columns[5]:"doubleness2",
                                elementaryItem.columns[6]:"doubleness3"}, inplace=True)


columns = ["comp", "triangle1", "triangle2", "doubleness1", "doubleness2", "doubleness3"]

for i in range(int(elementaryItem.shape[0])):
    ## sex : Male, Female 리스트 담기
    if elementaryItem["sex"][i] == "남성":
        elementaryItem["sex"][i] = "Male"
    else:
        elementaryItem["sex"][i] = "Female"
        
## 선택항목 별 부위 매칭 (①-색+72º, ②-색+144º, ③-original, ④-색+216º, ⑤-색+288º)
    for col in columns:
        if elementaryItem[col][i] == "①":
            elementaryItem[col][i] = "72"
        elif elementaryItem[col][i] == "②":
            elementaryItem[col][i] = "144"
        elif elementaryItem[col][i] == "③":
            elementaryItem[col][i] = "original"
        elif elementaryItem[col][i] == "④":
            elementaryItem[col][i] = "216"
        else:
            elementaryItem[col][i] = "288"

            
## 하나씩 원하는 df형태로 만들기
# comp
c_hChanged = pd.DataFrame(data = (elementaryItem["sex"], elementaryItem["comp"]))
c_hChanged = c_hChanged.T
c_hChanged.rename(columns={"comp":"select"}, inplace=True)

# triangle1
t1_hChanged = pd.DataFrame(data = (elementaryItem["sex"], elementaryItem["triangle1"]))
t1_hChanged = t1_hChanged.T
t1_hChanged.rename(columns={"triangle1":"select"}, inplace=True)

# triangle2
t2_hChanged = pd.DataFrame(data = (elementaryItem["sex"], elementaryItem["triangle2"]))
t2_hChanged =t2_hChanged.T
t2_hChanged.rename(columns={"triangle2":"select"}, inplace=True)

# doubleness1
d1_hChanged = pd.DataFrame(data = (elementaryItem["sex"], elementaryItem["doubleness1"]))
d1_hChanged = d1_hChanged.T
d1_hChanged.rename(columns={"doubleness1":"select"}, inplace=True)

# doubleness2
d2_hChanged = pd.DataFrame(data = (elementaryItem["sex"], elementaryItem["doubleness2"]))
d2_hChanged = d2_hChanged.T
d2_hChanged.rename(columns={"doubleness2":"select"}, inplace=True)

# doubleness3
d3_hChanged = pd.DataFrame(data = (elementaryItem["sex"], elementaryItem["doubleness3"]))
d3_hChanged = d3_hChanged.T
d3_hChanged.rename(columns={"doubleness3":"select"}, inplace=True)


## 다 합치기
S_hCB_cnt2 = pd.concat([c_hChanged, t1_hChanged, t2_hChanged, d1_hChanged, d2_hChanged, d3_hChanged])

# 개수 넣기
S_hCB_cnt2["cnt"] = 1

S_hCB_cnt2

        sex    select  cnt
0      Male       216    1
1    Female        72    1
2    Female       144    1
3    Female       288    1
4    Female       216    1
..      ...       ...  ...
109    Male  original    1
110  Female       216    1
111  Female       288    1
112  Female  original    1
113    Male  original    1

[684 rows x 3 columns]

In [22]:
# S_hCB_cnt2 전처리 결과 저장
S_hCB_cnt2.to_csv("C:/Users/cho ye seul/Documents/예슬/Acorn/FinalProject/Statistical Analysis/S_hCB_cnt2.csv")

### age + hueChanged_bright_class + cnt

In [26]:
## 밝은색 설문 결과 불러오기
elementaryItem = pd.read_excel("C:/Users/cho ye seul/Documents/예슬/Acorn/FinalProject/Statistical Analysis/퍼스널컬러 정량화 모델 가설검정을 위한 설문 (1).xlsx",
                          sheet_name = 'Sheet1', header=0,na_values = 'NaN',
                          usecols="D, S, T, U, V, W, X")

elementaryItem.rename(columns={elementaryItem.columns[0]:"age",
                                elementaryItem.columns[1]:"comp",
                                elementaryItem.columns[2]:"triangle1",
                                elementaryItem.columns[3]:"triangle2",
                                elementaryItem.columns[4]:"doubleness1",
                                elementaryItem.columns[5]:"doubleness2",
                                elementaryItem.columns[6]:"doubleness3"}, inplace=True)


columns = ["comp", "triangle1", "triangle2", "doubleness1", "doubleness2", "doubleness3"]
## age_class : 10, 20, 30, 40, 50으로 리스트 담기
for i in range(int(elementaryItem.shape[0])):
    if elementaryItem["age"][i] == "10대":
        elementaryItem["age"][i] = "10"
    elif elementaryItem["age"][i] == "20대":
        elementaryItem["age"][i] = "20"
    elif elementaryItem["age"][i] == "30대":
        elementaryItem["age"][i] = "30"
    elif elementaryItem["age"][i] == "40대":
        elementaryItem["age"][i] = "40"
    else:
        elementaryItem["age"][i] = "50"        

           
    ## 선택항목 별 부위 매칭 (①-색+72º, ②-색+144º, ③-original, ④-색+216º, ⑤-색+288º)
    for col in columns:
        if elementaryItem[col][i] == "①":
            elementaryItem[col][i] = "72"
        elif elementaryItem[col][i] == "②":
            elementaryItem[col][i] = "144"
        elif elementaryItem[col][i] == "③":
            elementaryItem[col][i] = "original"
        elif elementaryItem[col][i] == "④":
            elementaryItem[col][i] = "216"
        else:
            elementaryItem[col][i] = "288"

            
## 하나씩 원하는 df형태로 만들기
# comp
c_hChanged = pd.DataFrame(data = (elementaryItem["age"], elementaryItem["comp"]))
c_hChanged = c_hChanged.T
c_hChanged.rename(columns={"comp":"select"}, inplace=True)

# triangle1
t1_hChanged = pd.DataFrame(data = (elementaryItem["age"], elementaryItem["triangle1"]))
t1_hChanged = t1_hChanged.T
t1_hChanged.rename(columns={"triangle1":"select"}, inplace=True)

# triangle2
t2_hChanged = pd.DataFrame(data = (elementaryItem["age"], elementaryItem["triangle2"]))
t2_hChanged =t2_hChanged.T
t2_hChanged.rename(columns={"triangle2":"select"}, inplace=True)

# doubleness1
d1_hChanged = pd.DataFrame(data = (elementaryItem["age"], elementaryItem["doubleness1"]))
d1_hChanged = d1_hChanged.T
d1_hChanged.rename(columns={"doubleness1":"select"}, inplace=True)

# doubleness2
d2_hChanged = pd.DataFrame(data = (elementaryItem["age"], elementaryItem["doubleness2"]))
d2_hChanged = d2_hChanged.T
d2_hChanged.rename(columns={"doubleness2":"select"}, inplace=True)

# doubleness3
d3_hChanged = pd.DataFrame(data = (elementaryItem["age"], elementaryItem["doubleness3"]))
d3_hChanged = d3_hChanged.T
d3_hChanged.rename(columns={"doubleness3":"select"}, inplace=True)


## 다 합치기
A_hCB_cnt2 = pd.concat([c_hChanged, t1_hChanged, t2_hChanged, d1_hChanged, d2_hChanged, d3_hChanged])

# 개수 넣기
A_hCB_cnt2["cnt"] = 1

A_hCB_cnt2

    age    select  cnt
0    20       216    1
1    20        72    1
2    20       144    1
3    20       288    1
4    20       216    1
..   ..       ...  ...
109  20  original    1
110  20       216    1
111  20       288    1
112  30  original    1
113  30  original    1

[684 rows x 3 columns]

In [27]:
# A_hCB_cnt2 전처리 결과 저장
A_hCB_cnt2.to_csv("C:/Users/cho ye seul/Documents/예슬/Acorn/FinalProject/Statistical Analysis/A_hCB_cnt2.csv")

### interest + hueFixed_bright_class + cnt

In [1]:
## 밝은색 설문 결과 불러오기
elementaryItem = pd.read_excel("C:/Users/cho ye seul/Documents/예슬/Acorn/FinalProject/Statistical Analysis/퍼스널컬러 정량화 모델 가설검정을 위한 설문 (1).xlsx",
                          sheet_name = 'Sheet1', header=0,na_values = 'NaN',
                          usecols="H, S, T, U, V, W, X")

elementaryItem.rename(columns={elementaryItem.columns[0]:"interest",
                                elementaryItem.columns[1]:"comp",
                                elementaryItem.columns[2]:"triangle1",
                                elementaryItem.columns[3]:"triangle2",
                                elementaryItem.columns[4]:"doubleness1",
                                elementaryItem.columns[5]:"doubleness2",
                                elementaryItem.columns[6]:"doubleness3"}, inplace=True)

columns = ["comp", "triangle1", "triangle2", "doubleness1", "doubleness2", "doubleness3"]
for i in range(int(elementaryItem.shape[0])):
    ## 선택항목 별 부위 매칭 (①-색+72º, ②-색+144º, ③-original, ④-색+216º, ⑤-색+288º)
    for col in columns:
        if elementaryItem[col][i] == "①":
            elementaryItem[col][i] = "72"
        elif elementaryItem[col][i] == "②":
            elementaryItem[col][i] = "144"
        elif elementaryItem[col][i] == "③":
            elementaryItem[col][i] = "original"
        elif elementaryItem[col][i] == "④":
            elementaryItem[col][i] = "216"
        else:
            elementaryItem[col][i] = "288"
            

## 하나씩 원하는 df형태로 만들기
# comp
c_hChanged = pd.DataFrame(data = (elementaryItem["interest"], elementaryItem["comp"]))
c_hChanged = c_hChanged.T
c_hChanged.rename(columns={"comp":"select"}, inplace=True)

# triangle1
t1_hChanged = pd.DataFrame(data = (elementaryItem["interest"], elementaryItem["triangle1"]))
t1_hChanged = t1_hChanged.T
t1_hChanged.rename(columns={"triangle1":"select"}, inplace=True)

# triangle2
t2_hChanged = pd.DataFrame(data = (elementaryItem["interest"], elementaryItem["triangle2"]))
t2_hChanged =t2_hChanged.T
t2_hChanged.rename(columns={"triangle2":"select"}, inplace=True)

# doubleness1
d1_hChanged = pd.DataFrame(data = (elementaryItem["interest"], elementaryItem["doubleness1"]))
d1_hChanged = d1_hChanged.T
d1_hChanged.rename(columns={"doubleness1":"select"}, inplace=True)

# doubleness2
d2_hChanged = pd.DataFrame(data = (elementaryItem["interest"], elementaryItem["doubleness2"]))
d2_hChanged = d2_hChanged.T
d2_hChanged.rename(columns={"doubleness2":"select"}, inplace=True)

# doubleness3
d3_hChanged = pd.DataFrame(data = (elementaryItem["interest"], elementaryItem["doubleness3"]))
d3_hChanged = d3_hChanged.T
d3_hChanged.rename(columns={"doubleness3":"select"}, inplace=True)


## 다 합치기
I_hCB_cnt = pd.concat([c_hChanged, t1_hChanged, t2_hChanged, d1_hChanged, d2_hChanged, d3_hChanged])

# 개수 넣기
I_hCB_cnt["cnt"] = 1

I_hCB_cnt

NameError: name 'pd' is not defined

In [31]:
# I_hCB_cnt 전처리 결과 저장
I_hCB_cnt.to_csv("C:/Users/cho ye seul/Documents/예슬/Acorn/FinalProject/Statistical Analysis/I_hCB_cnt.csv")

### Definition + Need + hueChanged_Bright

In [35]:
## 밝은색 설문 결과 불러오기
elementaryItem = pd.read_excel("C:/Users/cho ye seul/Documents/예슬/Acorn/FinalProject/Statistical Analysis/퍼스널컬러 정량화 모델 가설검정을 위한 설문 (1).xlsx",
                          sheet_name = 'Sheet1', header=0,na_values = 'NaN',
                          usecols="E, F, S, T, U, V, W, X")

elementaryItem.rename(columns={elementaryItem.columns[0]:"definition",
                              elementaryItem.columns[1]:"need",
                              elementaryItem.columns[2]:"comp",
                              elementaryItem.columns[3]:"triangle1",
                              elementaryItem.columns[4]:"triangle2",
                              elementaryItem.columns[5]:"doubleness1",
                              elementaryItem.columns[6]:"doubleness2",
                              elementaryItem.columns[7]:"doubleness3"}, inplace=True)

columns = ["comp", "triangle1", "triangle2", "doubleness1", "doubleness2", "doubleness3"]
for i in range(int(elementaryItem.shape[0])):
    ## 선택항목 별 부위 매칭 (①-색+72º, ②-색+144º, ③-original, ④-색+216º, ⑤-색+288º)
    for col in columns:
        if elementaryItem[col][i] == "①":
            elementaryItem[col][i] = "72"
        elif elementaryItem[col][i] == "②":
            elementaryItem[col][i] = "144"
        elif elementaryItem[col][i] == "③":
            elementaryItem[col][i] = "original"
        elif elementaryItem[col][i] == "④":
            elementaryItem[col][i] = "216"
        else:
            elementaryItem[col][i] = "288"
                     
    ## definition : bright, harmony로 리스트 담기
    if ("생기" in elementaryItem["definition"][i]):
        elementaryItem["definition"][i] = "bright"
    else:
        elementaryItem["definition"][i] = "harmony"
    
    ## need :  bright, harmony로 리스트 담기
    if ("생기" in elementaryItem["need"][i]):
        elementaryItem["need"][i] = "bright"
    else:
        elementaryItem["need"][i] = "harmony"
            
            
        
## 하나씩 원하는 df형태로 만들기 
# comp 
c_hFixed  = pd.DataFrame(data = (elementaryItem["definition"], elementaryItem["need"], elementaryItem["comp"]))
c_hFixed = c_hFixed.T
c_hFixed.rename(columns={"comp":"select"}, inplace=True)

# triangle1
t1_hFixed  = pd.DataFrame(data = (elementaryItem["definition"], elementaryItem["need"], elementaryItem["triangle1"]))
t1_hFixed = t1_hFixed.T
t1_hFixed.rename(columns={"triangle1":"select"}, inplace=True)

# triangle2
t2_hFixed  = pd.DataFrame(data = (elementaryItem["definition"], elementaryItem["need"], elementaryItem["triangle2"]))
t2_hFixed = t2_hFixed.T
t2_hFixed.rename(columns={"triangle2":"select"}, inplace=True)

# doubleness1
d1_hFixed  = pd.DataFrame(data = (elementaryItem["definition"], elementaryItem["need"], elementaryItem["doubleness1"]))
d1_hFixed = d1_hFixed.T
d1_hFixed.rename(columns={"doubleness1":"select"}, inplace=True)

# doubleness2
d2_hFixed  = pd.DataFrame(data = (elementaryItem["definition"], elementaryItem["need"], elementaryItem["doubleness2"]))
d2_hFixed = d2_hFixed.T
d2_hFixed.rename(columns={"doubleness2":"select"}, inplace=True)

# doubleness3
d3_hFixed  = pd.DataFrame(data = (elementaryItem["definition"], elementaryItem["need"], elementaryItem["doubleness3"]))
d3_hFixed = d3_hFixed.T
d3_hFixed.rename(columns={"doubleness3":"select"}, inplace=True)


## 다 합치기
DN_hCB_cnt = pd.concat([c_hFixed, t1_hFixed, t2_hFixed, d1_hFixed, d2_hFixed, d3_hFixed])

# 개수 넣기
DN_hCB_cnt["cnt"] = 1

DN_hCB_cnt

    definition     need    select  cnt
0      harmony  harmony       216    1
1       bright  harmony        72    1
2       bright   bright       144    1
3      harmony  harmony       288    1
4       bright   bright       216    1
..         ...      ...       ...  ...
109    harmony  harmony  original    1
110    harmony  harmony       216    1
111    harmony  harmony       288    1
112    harmony  harmony  original    1
113    harmony   bright  original    1

[684 rows x 4 columns]

In [36]:
# DN_hCB_cnt 전처리 결과 저장
DN_hCB_cnt.to_csv("C:/Users/cho ye seul/Documents/예슬/Acorn/FinalProject/Statistical Analysis/DN_hCB_cnt.csv")