### 설문조사 자료 전처리
    
    최초 작성일 : 20/03/22
    작성자 : 조예슬
    
    <작성내용>
        
        설문지 2 문항 3번 사용
        
        - changedHue + class + cnt 전처리
        
        - sex + hueChanged_bright_class + cnt 전처리
        
        - age + hueChanged_bright_class + cnt 전처리
        
        - interest + hueFixed_bright_class + cnt 전처리
        
        - Definition + Need + hueChanged_Bright_class + cnt 전처리
        
        
    < 출처 >
    은주언니 햣!!▼
    https://github.com/slmteruto/CAI/blob/master/jay/Statistical%20hypothesis%20testing/Survey_preprocessing.ipynb

In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.font_manager as fm
font_name = fm.FontProperties(fname='C:\Windows/Fonts/malgun.ttf').get_name()
plt.rc('font', family=font_name)
mpl.rcParams["axes.unicode_minus"] = False

import pymysql, math, time
from sklearn import preprocessing
import urllib

from IPython.display import Image

###  changedHue + class + cnt

In [2]:
## 밝은색 설문 결과 불러오기
changedhue_bright = pd.read_excel("C:/Users/cho ye seul/Documents/예슬/Acorn/FinalProject/Statistical Analysis/퍼스널컬러 정량화 모델 가설검정을 위한 설문 (2).xlsx",
                          sheet_name = 'Sheet1', header=0,na_values = 'NaN',
                          usecols="S, T, U, V, W, X")

changedhue_bright.rename(columns={changedhue_bright.columns[0]:"comp",
                                changedhue_bright.columns[1]:"triangle1",
                                changedhue_bright.columns[2]:"triangle2",
                                changedhue_bright.columns[3]:"doubleness1",
                                changedhue_bright.columns[4]:"doubleness2",
                                changedhue_bright.columns[5]:"doubleness3"}, inplace=True)


columns = ["comp", "triangle1", "triangle2", "doubleness1", "doubleness2", "doubleness3"]
## 선택항목 별 부위 매칭 (①-색+72º, ②-색+144º, ③-original, ④-색+216º, ⑤-색+288º)
for i in range(int(changedhue_bright.shape[0])):
    for col in columns:
        if changedhue_bright[col][i] == "①":
            changedhue_bright[col][i] = "72"
        elif changedhue_bright[col][i] == "②":
            changedhue_bright[col][i] = "144"
        elif changedhue_bright[col][i] == "③":
            changedhue_bright[col][i] = "original"
        elif changedhue_bright[col][i] == "④":
            changedhue_bright[col][i] = "216"
        else:
            changedhue_bright[col][i] = "288"
  
##

## 하나씩 원하는 df형태로 만들기
# comp
c_hChanged = pd.DataFrame(changedhue_bright["comp"])
c_hChanged["class"] = "comp"
c_hChanged.rename(columns={"comp":"select"}, inplace=True)

# triangle1
t1_hChanged = pd.DataFrame(changedhue_bright["triangle1"])
t1_hChanged["class"] = "triangle1"
t1_hChanged.rename(columns={"triangle1":"select"}, inplace=True)

# triangle2
t2_hChanged = pd.DataFrame(changedhue_bright["triangle2"])
t2_hChanged["class"] = "triangle2"
t2_hChanged.rename(columns={"triangle2":"select"}, inplace=True)

# doubleness1
d1_hChanged = pd.DataFrame(changedhue_bright["doubleness1"])
d1_hChanged["class"] = "doubleness1"
d1_hChanged.rename(columns={"doubleness1":"select"}, inplace=True)

# doubleness2
d2_hChanged = pd.DataFrame(changedhue_bright["doubleness2"])
d2_hChanged["class"] = "doubleness2"
d2_hChanged.rename(columns={"doubleness2":"select"}, inplace=True)

# doubleness3
d3_hChanged = pd.DataFrame(changedhue_bright["doubleness3"])
d3_hChanged["class"] = "doubleness3"
d3_hChanged.rename(columns={"doubleness3":"select"}, inplace=True)

## 다 합치기
hChanged_harmony = pd.concat([c_hChanged, t1_hChanged, t2_hChanged, d1_hChanged, d2_hChanged, d3_hChanged])

# 개수 넣기
hChanged_harmony["cnt"] = 1

hChanged_harmony

      select        class  cnt
0   original         comp    1
1        288         comp    1
2        288         comp    1
3        288         comp    1
4        144         comp    1
..       ...          ...  ...
91        72  doubleness3    1
92  original  doubleness3    1
93       288  doubleness3    1
94        72  doubleness3    1
95       216  doubleness3    1

[576 rows x 3 columns]

In [3]:
# hChanged_harmony 전처리 결과 저장
hChanged_harmony.to_csv("C:/Users/cho ye seul/Documents/예슬/Acorn/FinalProject/Statistical Analysis/hChanged_harmony.csv")

### sex + hueChanged_bright_class + cnt

In [4]:
## 밝은색 설문 결과 불러오기
elementaryItem = pd.read_excel("C:/Users/cho ye seul/Documents/예슬/Acorn/FinalProject/Statistical Analysis/퍼스널컬러 정량화 모델 가설검정을 위한 설문 (2).xlsx",
                          sheet_name = 'Sheet1', header=0,na_values = 'NaN',
                          usecols="C, S, T, U, V, W, X")

elementaryItem.rename(columns={elementaryItem.columns[0]:"sex",
                                elementaryItem.columns[1]:"comp",
                                elementaryItem.columns[2]:"triangle1",
                                elementaryItem.columns[3]:"triangle2",
                                elementaryItem.columns[4]:"doubleness1",
                                elementaryItem.columns[5]:"doubleness2",
                                elementaryItem.columns[6]:"doubleness3"}, inplace=True)


columns = ["comp", "triangle1", "triangle2", "doubleness1", "doubleness2", "doubleness3"]

for i in range(int(elementaryItem.shape[0])):
    ## sex : Male, Female 리스트 담기
    if elementaryItem["sex"][i] == "남성":
        elementaryItem["sex"][i] = "Male"
    else:
        elementaryItem["sex"][i] = "Female"
        
## 선택항목 별 부위 매칭 (①-색+72º, ②-색+144º, ③-original, ④-색+216º, ⑤-색+288º)
    for col in columns:
        if elementaryItem[col][i] == "①":
            elementaryItem[col][i] = "72"
        elif elementaryItem[col][i] == "②":
            elementaryItem[col][i] = "144"
        elif elementaryItem[col][i] == "③":
            elementaryItem[col][i] = "original"
        elif elementaryItem[col][i] == "④":
            elementaryItem[col][i] = "216"
        else:
            elementaryItem[col][i] = "288"

            
## 하나씩 원하는 df형태로 만들기
# comp
c_hChanged = pd.DataFrame(data = (elementaryItem["sex"], elementaryItem["comp"]))
c_hChanged = c_hChanged.T
c_hChanged.rename(columns={"comp":"select"}, inplace=True)

# triangle1
t1_hChanged = pd.DataFrame(data = (elementaryItem["sex"], elementaryItem["triangle1"]))
t1_hChanged = t1_hChanged.T
t1_hChanged.rename(columns={"triangle1":"select"}, inplace=True)

# triangle2
t2_hChanged = pd.DataFrame(data = (elementaryItem["sex"], elementaryItem["triangle2"]))
t2_hChanged =t2_hChanged.T
t2_hChanged.rename(columns={"triangle2":"select"}, inplace=True)

# doubleness1
d1_hChanged = pd.DataFrame(data = (elementaryItem["sex"], elementaryItem["doubleness1"]))
d1_hChanged = d1_hChanged.T
d1_hChanged.rename(columns={"doubleness1":"select"}, inplace=True)

# doubleness2
d2_hChanged = pd.DataFrame(data = (elementaryItem["sex"], elementaryItem["doubleness2"]))
d2_hChanged = d2_hChanged.T
d2_hChanged.rename(columns={"doubleness2":"select"}, inplace=True)

# doubleness3
d3_hChanged = pd.DataFrame(data = (elementaryItem["sex"], elementaryItem["doubleness3"]))
d3_hChanged = d3_hChanged.T
d3_hChanged.rename(columns={"doubleness3":"select"}, inplace=True)


## 다 합치기
S_hCH_cnt2 = pd.concat([c_hChanged, t1_hChanged, t2_hChanged, d1_hChanged, d2_hChanged, d3_hChanged])

# 개수 넣기
S_hCH_cnt2["cnt"] = 1

S_hCH_cnt2

       sex    select  cnt
0   Female  original    1
1     Male       288    1
2   Female       288    1
3     Male       288    1
4   Female       144    1
..     ...       ...  ...
91  Female        72    1
92  Female  original    1
93  Female       288    1
94  Female        72    1
95  Female       216    1

[576 rows x 3 columns]

In [5]:
# S_hCH_cnt2 전처리 결과 저장
S_hCH_cnt2.to_csv("C:/Users/cho ye seul/Documents/예슬/Acorn/FinalProject/Statistical Analysis/S_hCH_cnt2.csv")

### age + hueChanged_harmony_class + cnt

In [6]:
## 밝은색 설문 결과 불러오기
elementaryItem = pd.read_excel("C:/Users/cho ye seul/Documents/예슬/Acorn/FinalProject/Statistical Analysis/퍼스널컬러 정량화 모델 가설검정을 위한 설문 (2).xlsx",
                          sheet_name = 'Sheet1', header=0,na_values = 'NaN',
                          usecols="D, S, T, U, V, W, X")

elementaryItem.rename(columns={elementaryItem.columns[0]:"age",
                                elementaryItem.columns[1]:"comp",
                                elementaryItem.columns[2]:"triangle1",
                                elementaryItem.columns[3]:"triangle2",
                                elementaryItem.columns[4]:"doubleness1",
                                elementaryItem.columns[5]:"doubleness2",
                                elementaryItem.columns[6]:"doubleness3"}, inplace=True)


columns = ["comp", "triangle1", "triangle2", "doubleness1", "doubleness2", "doubleness3"]
## age_class : 10, 20, 30, 40, 50으로 리스트 담기
for i in range(int(elementaryItem.shape[0])):
    if elementaryItem["age"][i] == "10대":
        elementaryItem["age"][i] = "10"
    elif elementaryItem["age"][i] == "20대":
        elementaryItem["age"][i] = "20"
    elif elementaryItem["age"][i] == "30대":
        elementaryItem["age"][i] = "30"
    elif elementaryItem["age"][i] == "40대":
        elementaryItem["age"][i] = "40"
    else:
        elementaryItem["age"][i] = "50"        

           
    ## 선택항목 별 부위 매칭 (①-색+72º, ②-색+144º, ③-original, ④-색+216º, ⑤-색+288º)
    for col in columns:
        if elementaryItem[col][i] == "①":
            elementaryItem[col][i] = "72"
        elif elementaryItem[col][i] == "②":
            elementaryItem[col][i] = "144"
        elif elementaryItem[col][i] == "③":
            elementaryItem[col][i] = "original"
        elif elementaryItem[col][i] == "④":
            elementaryItem[col][i] = "216"
        else:
            elementaryItem[col][i] = "288"

            
## 하나씩 원하는 df형태로 만들기
# comp
c_hChanged = pd.DataFrame(data = (elementaryItem["age"], elementaryItem["comp"]))
c_hChanged = c_hChanged.T
c_hChanged.rename(columns={"comp":"select"}, inplace=True)

# triangle1
t1_hChanged = pd.DataFrame(data = (elementaryItem["age"], elementaryItem["triangle1"]))
t1_hChanged = t1_hChanged.T
t1_hChanged.rename(columns={"triangle1":"select"}, inplace=True)

# triangle2
t2_hChanged = pd.DataFrame(data = (elementaryItem["age"], elementaryItem["triangle2"]))
t2_hChanged =t2_hChanged.T
t2_hChanged.rename(columns={"triangle2":"select"}, inplace=True)

# doubleness1
d1_hChanged = pd.DataFrame(data = (elementaryItem["age"], elementaryItem["doubleness1"]))
d1_hChanged = d1_hChanged.T
d1_hChanged.rename(columns={"doubleness1":"select"}, inplace=True)

# doubleness2
d2_hChanged = pd.DataFrame(data = (elementaryItem["age"], elementaryItem["doubleness2"]))
d2_hChanged = d2_hChanged.T
d2_hChanged.rename(columns={"doubleness2":"select"}, inplace=True)

# doubleness3
d3_hChanged = pd.DataFrame(data = (elementaryItem["age"], elementaryItem["doubleness3"]))
d3_hChanged = d3_hChanged.T
d3_hChanged.rename(columns={"doubleness3":"select"}, inplace=True)


## 다 합치기
A_hCH_cnt2 = pd.concat([c_hChanged, t1_hChanged, t2_hChanged, d1_hChanged, d2_hChanged, d3_hChanged])

# 개수 넣기
A_hCH_cnt2["cnt"] = 1

A_hCH_cnt2

   age    select  cnt
0   20  original    1
1   20       288    1
2   20       288    1
3   20       288    1
4   20       144    1
..  ..       ...  ...
91  50        72    1
92  50  original    1
93  50       288    1
94  50        72    1
95  20       216    1

[576 rows x 3 columns]

In [7]:
# A_hCH_cnt2 전처리 결과 저장
A_hCH_cnt2.to_csv("C:/Users/cho ye seul/Documents/예슬/Acorn/FinalProject/Statistical Analysis/A_hCH_cnt2.csv")

### interest + hueFixed_harmony_class + cnt

In [8]:
## 밝은색 설문 결과 불러오기
elementaryItem = pd.read_excel("C:/Users/cho ye seul/Documents/예슬/Acorn/FinalProject/Statistical Analysis/퍼스널컬러 정량화 모델 가설검정을 위한 설문 (2).xlsx",
                          sheet_name = 'Sheet1', header=0,na_values = 'NaN',
                          usecols="H, S, T, U, V, W, X")

elementaryItem.rename(columns={elementaryItem.columns[0]:"interest",
                                elementaryItem.columns[1]:"comp",
                                elementaryItem.columns[2]:"triangle1",
                                elementaryItem.columns[3]:"triangle2",
                                elementaryItem.columns[4]:"doubleness1",
                                elementaryItem.columns[5]:"doubleness2",
                                elementaryItem.columns[6]:"doubleness3"}, inplace=True)

columns = ["comp", "triangle1", "triangle2", "doubleness1", "doubleness2", "doubleness3"]
for i in range(int(elementaryItem.shape[0])):
    ## 선택항목 별 부위 매칭 (①-색+72º, ②-색+144º, ③-original, ④-색+216º, ⑤-색+288º)
    for col in columns:
        if elementaryItem[col][i] == "①":
            elementaryItem[col][i] = "72"
        elif elementaryItem[col][i] == "②":
            elementaryItem[col][i] = "144"
        elif elementaryItem[col][i] == "③":
            elementaryItem[col][i] = "original"
        elif elementaryItem[col][i] == "④":
            elementaryItem[col][i] = "216"
        else:
            elementaryItem[col][i] = "288"
            

## 하나씩 원하는 df형태로 만들기
# comp
c_hChanged = pd.DataFrame(data = (elementaryItem["interest"], elementaryItem["comp"]))
c_hChanged = c_hChanged.T
c_hChanged.rename(columns={"comp":"select"}, inplace=True)

# triangle1
t1_hChanged = pd.DataFrame(data = (elementaryItem["interest"], elementaryItem["triangle1"]))
t1_hChanged = t1_hChanged.T
t1_hChanged.rename(columns={"triangle1":"select"}, inplace=True)

# triangle2
t2_hChanged = pd.DataFrame(data = (elementaryItem["interest"], elementaryItem["triangle2"]))
t2_hChanged =t2_hChanged.T
t2_hChanged.rename(columns={"triangle2":"select"}, inplace=True)

# doubleness1
d1_hChanged = pd.DataFrame(data = (elementaryItem["interest"], elementaryItem["doubleness1"]))
d1_hChanged = d1_hChanged.T
d1_hChanged.rename(columns={"doubleness1":"select"}, inplace=True)

# doubleness2
d2_hChanged = pd.DataFrame(data = (elementaryItem["interest"], elementaryItem["doubleness2"]))
d2_hChanged = d2_hChanged.T
d2_hChanged.rename(columns={"doubleness2":"select"}, inplace=True)

# doubleness3
d3_hChanged = pd.DataFrame(data = (elementaryItem["interest"], elementaryItem["doubleness3"]))
d3_hChanged = d3_hChanged.T
d3_hChanged.rename(columns={"doubleness3":"select"}, inplace=True)


## 다 합치기
I_hCH_cnt = pd.concat([c_hChanged, t1_hChanged, t2_hChanged, d1_hChanged, d2_hChanged, d3_hChanged])

# 개수 넣기
I_hCH_cnt["cnt"] = 1

I_hCH_cnt

C:\ana\lib\site-packages\ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\ana\lib\site-packages\ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\ana\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\ana\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\ana\lib\site-packages\ipykernel_launcher.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

   interest    select  cnt
0         3  original    1
1         5       288    1
2         5       288    1
3         3       288    1
4         3       144    1
..      ...       ...  ...
91        3        72    1
92        5  original    1
93        3       288    1
94        4        72    1
95        4       216    1

[576 rows x 3 columns]

In [9]:
# I_hCH_cnt 전처리 결과 저장
I_hCH_cnt.to_csv("C:/Users/cho ye seul/Documents/예슬/Acorn/FinalProject/Statistical Analysis/I_hCH_cnt.csv")

### Definition + Need + hueChanged_Harmony

In [10]:
## 밝은색 설문 결과 불러오기
elementaryItem = pd.read_excel("C:/Users/cho ye seul/Documents/예슬/Acorn/FinalProject/Statistical Analysis/퍼스널컬러 정량화 모델 가설검정을 위한 설문 (2).xlsx",
                          sheet_name = 'Sheet1', header=0,na_values = 'NaN',
                          usecols="E, F, S, T, U, V, W, X")

elementaryItem.rename(columns={elementaryItem.columns[0]:"definition",
                              elementaryItem.columns[1]:"need",
                              elementaryItem.columns[2]:"comp",
                              elementaryItem.columns[3]:"triangle1",
                              elementaryItem.columns[4]:"triangle2",
                              elementaryItem.columns[5]:"doubleness1",
                              elementaryItem.columns[6]:"doubleness2",
                              elementaryItem.columns[7]:"doubleness3"}, inplace=True)

columns = ["comp", "triangle1", "triangle2", "doubleness1", "doubleness2", "doubleness3"]
for i in range(int(elementaryItem.shape[0])):
    ## 선택항목 별 부위 매칭 (①-색+72º, ②-색+144º, ③-original, ④-색+216º, ⑤-색+288º)
    for col in columns:
        if elementaryItem[col][i] == "①":
            elementaryItem[col][i] = "72"
        elif elementaryItem[col][i] == "②":
            elementaryItem[col][i] = "144"
        elif elementaryItem[col][i] == "③":
            elementaryItem[col][i] = "original"
        elif elementaryItem[col][i] == "④":
            elementaryItem[col][i] = "216"
        else:
            elementaryItem[col][i] = "288"
                     
    ## definition : bright, harmony로 리스트 담기
    if ("생기" in elementaryItem["definition"][i]):
        elementaryItem["definition"][i] = "bright"
    else:
        elementaryItem["definition"][i] = "harmony"
    
    ## need :  bright, harmony로 리스트 담기
    if ("생기" in elementaryItem["need"][i]):
        elementaryItem["need"][i] = "bright"
    else:
        elementaryItem["need"][i] = "harmony"
            
            
        
## 하나씩 원하는 df형태로 만들기 
# comp 
c_hFixed  = pd.DataFrame(data = (elementaryItem["definition"], elementaryItem["need"], elementaryItem["comp"]))
c_hFixed = c_hFixed.T
c_hFixed.rename(columns={"comp":"select"}, inplace=True)

# triangle1
t1_hFixed  = pd.DataFrame(data = (elementaryItem["definition"], elementaryItem["need"], elementaryItem["triangle1"]))
t1_hFixed = t1_hFixed.T
t1_hFixed.rename(columns={"triangle1":"select"}, inplace=True)

# triangle2
t2_hFixed  = pd.DataFrame(data = (elementaryItem["definition"], elementaryItem["need"], elementaryItem["triangle2"]))
t2_hFixed = t2_hFixed.T
t2_hFixed.rename(columns={"triangle2":"select"}, inplace=True)

# doubleness1
d1_hFixed  = pd.DataFrame(data = (elementaryItem["definition"], elementaryItem["need"], elementaryItem["doubleness1"]))
d1_hFixed = d1_hFixed.T
d1_hFixed.rename(columns={"doubleness1":"select"}, inplace=True)

# doubleness2
d2_hFixed  = pd.DataFrame(data = (elementaryItem["definition"], elementaryItem["need"], elementaryItem["doubleness2"]))
d2_hFixed = d2_hFixed.T
d2_hFixed.rename(columns={"doubleness2":"select"}, inplace=True)

# doubleness3
d3_hFixed  = pd.DataFrame(data = (elementaryItem["definition"], elementaryItem["need"], elementaryItem["doubleness3"]))
d3_hFixed = d3_hFixed.T
d3_hFixed.rename(columns={"doubleness3":"select"}, inplace=True)


## 다 합치기
DN_hCH_cnt = pd.concat([c_hFixed, t1_hFixed, t2_hFixed, d1_hFixed, d2_hFixed, d3_hFixed])

# 개수 넣기
DN_hCH_cnt["cnt"] = 1

DN_hCH_cnt

   definition     need    select  cnt
0      bright   bright  original    1
1     harmony  harmony       288    1
2      bright   bright       288    1
3      bright  harmony       288    1
4      bright   bright       144    1
..        ...      ...       ...  ...
91     bright   bright        72    1
92    harmony  harmony  original    1
93     bright   bright       288    1
94    harmony  harmony        72    1
95     bright  harmony       216    1

[576 rows x 4 columns]

In [11]:
# DN_hCH_cnt 전처리 결과 저장
DN_hCH_cnt.to_csv("C:/Users/cho ye seul/Documents/예슬/Acorn/FinalProject/Statistical Analysis/DN_hCH_cnt.csv")

### Sex + Age + hueChanged_Harmony

In [14]:
# 기본항목 설문결과 (모집단 분리하지 않은 항목) 데이터 준비

## 밝은색 설문 결과 불러오기
elementaryItem = pd.read_excel("C:/Users/cho ye seul/Documents/예슬/Acorn/FinalProject/Statistical Analysis/퍼스널컬러 정량화 모델 가설검정을 위한 설문 (2).xlsx",
                          sheet_name = 'Sheet1', header=0,na_values = 'NaN',
                          usecols="C, D, S, T, U, V, W, X")
elementaryItem.rename(columns={elementaryItem.columns[0]:"sex",
                          elementaryItem.columns[1]:"age_class",
                          elementaryItem.columns[2]:"comp",
                          elementaryItem.columns[3]:"triangle1",
                          elementaryItem.columns[4]:"triangle2",
                          elementaryItem.columns[5]:"doubleness1",
                          elementaryItem.columns[6]:"doubleness2",
                          elementaryItem.columns[7]:"doubleness3"}, inplace=True)


columns = ["comp", "triangle1", "triangle2", "doubleness1", "doubleness2", "doubleness3"]
## 선택항목 별 부위 매칭 (①-채도(-5)/명도(-5), ②-채도(-5)/명도(+5), ③-original, ④-채도(+5)/명도(+5), ⑤-채도(+5)/명도(-5))
for i in range(int(elementaryItem.shape[0])):
    for col in columns:
        if elementaryItem[col][i] == "①":
            elementaryItem[col][i] = "72"
        elif elementaryItem[col][i] == "②":
            elementaryItem[col][i] = "144"
        elif elementaryItem[col][i] == "③":
            elementaryItem[col][i] = "original"
        elif elementaryItem[col][i] == "④":
            elementaryItem[col][i] = "216"
        else:
            elementaryItem[col][i] = "288"

            
## 값 변경 반복문
for i in range(int(elementaryItem.shape[0])):

    ## sex : Male, Female 리스트 담기
    if elementaryItem["sex"][i] == "남성":
        elementaryItem["sex"][i] = "Male"
    else:
        elementaryItem["sex"][i] = "Female"
        
    ## age_class : 10, 20, 30, 40, 50으로 리스트 담기
    if elementaryItem["age_class"][i] == "10대":
        elementaryItem["age_class"][i] = "10"
    elif elementaryItem["age_class"][i] == "20대":
        elementaryItem["age_class"][i] = "20"
    elif elementaryItem["age_class"][i] == "30대":
        elementaryItem["age_class"][i] = "30"
    elif elementaryItem["age_class"][i] == "40대":
        elementaryItem["age_class"][i] = "40"
    else:
        elementaryItem["age_class"][i] = "50"
       
        
## 하나씩 원하는 df형태로 만들기 
# comp 
c_hFixed  = pd.DataFrame(data = (elementaryItem["sex"], elementaryItem["age_class"], elementaryItem["comp"]))
c_hFixed = c_hFixed.T
c_hFixed.rename(columns={"comp":"select"}, inplace=True)

# triangle1
t1_hFixed  = pd.DataFrame(data = (elementaryItem["sex"], elementaryItem["age_class"], elementaryItem["triangle1"]))
t1_hFixed = t1_hFixed.T
t1_hFixed.rename(columns={"triangle1":"select"}, inplace=True)

# triangle2
t2_hFixed  = pd.DataFrame(data = (elementaryItem["sex"], elementaryItem["age_class"], elementaryItem["triangle2"]))
t2_hFixed = t2_hFixed.T
t2_hFixed.rename(columns={"triangle2":"select"}, inplace=True)

# doubleness1
d1_hFixed  = pd.DataFrame(data = (elementaryItem["sex"], elementaryItem["age_class"], elementaryItem["doubleness1"]))
d1_hFixed = d1_hFixed.T
d1_hFixed.rename(columns={"doubleness1":"select"}, inplace=True)

# doubleness2
d2_hFixed  = pd.DataFrame(data = (elementaryItem["sex"], elementaryItem["age_class"], elementaryItem["doubleness2"]))
d2_hFixed = d2_hFixed.T
d2_hFixed.rename(columns={"doubleness2":"select"}, inplace=True)

# doubleness3
d3_hFixed  = pd.DataFrame(data = (elementaryItem["sex"], elementaryItem["age_class"], elementaryItem["doubleness3"]))
d3_hFixed = d3_hFixed.T
d3_hFixed.rename(columns={"doubleness3":"select"}, inplace=True)


## 다 합치기
SA_hCH_cnt = pd.concat([c_hFixed, t1_hFixed, t2_hFixed, d1_hFixed, d2_hFixed, d3_hFixed])

# 개수 넣기
SA_hCH_cnt["cnt"] = 1

SA_hCH_cnt

       sex age_class    select  cnt
0   Female        20  original    1
1     Male        20       288    1
2   Female        20       288    1
3     Male        20       288    1
4   Female        20       144    1
..     ...       ...       ...  ...
91  Female        50        72    1
92  Female        50  original    1
93  Female        50       288    1
94  Female        50        72    1
95  Female        20       216    1

[576 rows x 4 columns]

In [15]:
# SA_hCH_cnt 전처리 결과 저장
SA_hCH_cnt.to_csv("C:/Users/cho ye seul/Documents/예슬/Acorn/FinalProject/Statistical Analysis/SA_hCH_cnt.csv")